<%= image_tag property.cover.variant(resize: sizes).processed, loading: "lazy", class: "w-100" unless property.cover.nil? %>

<div class="d-flex flex-column align-items-end justify-content-between p-4">
  <div class="d-flex flex-column">
    <h3 class="text-primary font-weight-bold w-100"><%= property.name %></h3>
    <p class="text-secondary">
      <%= truncate "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eius et ex illum impedit itaque
    nostrum odit quia totam ut? Aspernatur beatae deserunt ex excepturi incidunt nobis quidem quis tempore!", length: 64 %>
    </p>
  </div>
  <div class="d-flex">
    <%= link_to "More details", property_path(property), class: "btn btn-outline-primary" %>
  </div>
</div>