<div id="properties-index" class="container">
  <div class="d-flex justify-content-end border-bottom mb-4 mt-5">
    <h3 class="text-primary text-right">Available Properties</h3>
  </div>
  <div id="properties" class="row justify-content-center">
    <%= render partial: "properties/index/property", collection: @properties, cache: true %>
  </div>
</div>