<p class="text-secondary mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis debitis et explicabo id, illo magnam,
  odit quasi quis quod sed sequi soluta sunt tenetur voluptatibus. Architecto enim repudiandae veniam?
</p>
<p class="text-secondary">Deserunt. Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. A ad assumenda aut dolorem facilis iusto laudantium natus nemo nihil non numquam, odio pariatur perspiciatis quam quibusdam
  reprehenderit tempora vel vitae.
</p>