<header class="sticky-top d-flex align-items-center justify-content-between bg-white border-primary border-bottom py-2 px-4 mb-4 shadow">
  <a href="/" class="d-flex align-items-center">
    <%= svg_inline "home" %>
    <div class="ml-2">
      <h1 class="h5 m-0"><span class="text-primary">MyHome</span><small class="text-secondary">, where your home might be!</small></h1>
    </div>
  </a>

  <div>
    <%= render "layouts/application/dialog", title: "About" do %>
      <%= image_tag asset_path("l_running.gif"), class: "w-50" %>

      <div class="text-right">
        <p class="text-primary font-weight-bold">Welcome everyone!</p>
        <p>Website developed as a case project.</p>
        <small>&reg 2021 - Lucas Barretto</small>
      </div>
    <% end %>
  </div>
</header>