<div>
  <div>
    <%= svg_inline "home" %>
  </div>
  <div>
    <h1>MyHome, home from my new home!</h1>
  </div>
  <div>
    <details>
      <summary>About</summary>
      <div>
        <h2>Page author: Lucas Barretto e Silva</h2>
        <p>Welcome everyone!</p>
      </div>
    </details>
  </div>
</div>